
<div class="mt-4">
    <form [formGroup]="form" class="max-w-md mx-auto">
        <h1 class="text-4xl text-center">Login</h1>
        <input type="text" formControlName="email" name="email" placeholder="your@email.com">
        <input type="password" formControlName="password" name="password" placeholder="password">
        <div class="flex flex-row justify-evenly mx-auto my-10">
            <button class="mx-auto" mat-raised-button color="primary" (click)="logIn()">Login</button>
            <mat-spinner *ngIf="loading" diameter="40"></mat-spinner>
            <button class="mx-auto" mat-raised-button color="primary" routerLink="../signup">Don't have an account? Register Here</button>
        </div>
        <div class="flex flex-row justify-evenly mx-auto">
            <google-signin-butt #googleButton style="cursor:pointer;" [selectable]="showGoogleLogin"></google-signin-butt>
        </div>
    </form>
</div>